# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 
**/**.pyc
src/pdf_to_markdown/__pycache__/__init__.cpython-311.pyc
src/**/*.pyc
/__pycache__
*.pyd
*.so